
    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Acerca de mí</h2>

      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-between">
          <div class="col-lg-4 profile-img align-self-start">
        <img src="images/guitar.png" class="img-fluid"
          alt="">
          </div>
          <div class="col-lg-7 content">
            <h3>Soy un joven requintista, enfocado en la musica bohemia y popular.</h3>
            <p>
               Tambien tengo conocimientos en técnica vocal,así que puedo interpretar tanto el requinto como el canto de manera profesional.
            </p>
            <ul>
          <i class="bi bi-check2-all"></i> <span> Disfruto el canto lírico, por lo que personajes como Franco Corelli y Mario Del Monaco son referentes en mi trayectoria musical.</span>
          <br>
              <i class="bi bi-check2-all"></i> <span>Mi rango de voz en de un Bajo dramático </span>
              <br>
              <i class="bi bi-check2-all"></i> <span>En la música popular, aquellos que me han inspirado han sido agrupaciones como Los Panchos y Los Tres Reyes.</span>
              <br>
            </ul>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->