<footer id="footer" class="footer light-background">
    <div class="container">
        <h3 class="sitename">Julián Saavedra</h3>
        <q>... Con tinta sangre del corazón. </q>
        <div class="social-links d-flex justify-content-center">
            <a href="https://www.facebook.com/share/HcqiweZd8Q2ZkykM/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/julian_requintista_178"><i class="bi bi-instagram"></i></a>
            <a href="https://vm.tiktok.com/ZMh3LvdyH/"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.youtube.com/@@JulianSaavedraRequintista"><i class="bi bi-youtube"></i></a>
        </div>

        <div class="container">
            <div class="footer-logo"> <!-- TODO: Add logo in image -->
            <img scr="favicon.ico" class="rounded mx-auto d-block">
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <span>Copyright</span> <br>
                <strong class="px-1 sitename">Published by Bryan Wilches</strong> <br>
                <span>All Rights Reserved</span>
            </div>

        </div>
    </div>
</footer>
