@inherits LayoutComponentBase


<body class="index-page" data-aos-easing="ease-in-out" data-aos-duration="300" data-aos-delay="0">
    <NavMenu />

    <main>
        <article> <!-- <article class="content px-4"> -->
            @Body
        </article>
    </main>
</body>
