<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Estos son los servicios que ofrezco como músico profesional.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="bi bi-earbuds"></i></div>
                <div>
                    <h4 class="title">Artista en eventos en vivo</h4>
                    <p class="description">Presentaciones en vivo tanto en eventos privados, conciertos así como festivales regionales, así como eventos especiales (serenatas, bodas o cenas temáticas).</p> <!--TODO: In learn more redirect to Whatsapp link for more information -->
                    <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0"><i class="bi bi-music-note-beamed"></i></div>
                <div>
                    <h4 class="title">Músico de sesión</h4>
                    <p class="description">Trabajo en estudios de grabación y en colaboración con otros artistas en grabaciones profesionales.</p>
                    <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="icon flex-shrink-0"><i class="bi bi-volume-up-fill"></i></div>
                <div>
                    <h4 class="title">Composición y arreglos</h4>
                    <p class="description">Composición y arreglo de piezas musicales</p>
                    <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>

</section><!-- /Services Section -->
