<!-- TODO: Add it into the main layout-->
<div class="video-container">
<div style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<iframe width="400" height="350" src="https://www.youtube.com/embed/Nxqj-tdoUL4?si=jx-dC7h6cH4JC6s4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> <!-- TODO: Modify width parameter so it looks good on cell phone-->
</div>
</div>