<section id="video">
<div class="video-container">
<iframe class="youtube-frame"
src="https://www.youtube.com/embed/Nxqj-tdoUL4?si=jx-dC7h6cH4JC6s4"
title="YouTube video player"
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</div>
</section>
