@page "/"
@inject IJSRuntime JS
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="images/resize.jpg" alt="main photo">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <h2>Julián Saavedra<br></h2>
        <p>Soy <span class="typed" data-typed-items="Arreglista, Cantante, Transcriptor, Músico">Requintista</span>
        </p>
        <div class="social-links">
            <a href="https://www.facebook.com/share/HcqiweZd8Q2ZkykM/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/julian_requintista_178"><i class="bi bi-instagram"></i></a>
            <a href="https://vm.tiktok.com/ZMh3LvdyH/"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.youtube.com/@@JulianSaavedraRequintista"><i class="bi bi-youtube"></i></a>

        </div>
    </div>

</section><!-- /Hero Section -->


<!-- About Section -->
    <About />
<!-- /About Section -->

<!-- Services Section -->
    <Services />
<!-- /Services Section -->

<!-- Video Section-->
    <Video />
<!-- /Video Section-->



<!-- Contact Section -->
    <Contact />
<!-- /Contact Section -->

<!-- Footer Section-->
    <Footer />
<!-- /Footer Section-->

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeVoidAsync("initializeAOS");
        }
    }


}
