@page "/"
@inject IJSRuntime JS
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="../Music-portfolio-blazor/images/background.jpg" alt="" data-aos="fade-in">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <h2>Julián Beltrán<br></h2>
        <p>Soy <span class="typed" data-typed-items="Arreglista, Cantante, Transcriptor, Músico">Requintista</span>
        </p>
        <div class="social-links">
            <a href="https://www.facebook.com/share/HcqiweZd8Q2ZkykM/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/julian_requintista_178"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@@JulianSaavedraRequintista"><i class="bi bi-youtube"></i></a>
        </div>
    </div>

</section><!-- /Hero Section -->


<!-- About Section -->
    <About />
<!-- /About Section -->

<!-- Services Section -->
    <Services />
<!-- /Services Section -->

<!-- Contact Section -->
    <Contact />
<!-- /Contact Section -->



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeVoidAsync("initializeAOS");
        }
    }


}
